@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align:center;margin-top:300px">
    欢迎使用项目模板!!!

    <div style="font-size:50px;color:red">
        <a style="text-decoration:none;" href="https://github.com/zhaopeiym/Boilerplate/issues">
            意见和建议
        </a>
    </div>
</div>